.fulldiv {
    position: relative;
    background-color: yellowgreen;
    width: 100%;
    height: 70vh;
}

.slidediv {
    /* position: absolute; */
    padding-top: 80px;
    margin-left: 500px;
    overflow-x: hidden;
    /* display: flex; */
    /* padding: 100px; */
}

.slidecard {
    padding: 10px;
    width: 250px;
    height: 40vh;
    background-color: red;
}

.slick-slide>div {
    margin: 0 20px;
}

/* .slick-list {
    margin: 0 0px;
  } */
.btn1 {
    /* width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center; */
    /* padding-top: 15px; */
    /* background-color: red; */
    /* z-index: 1;
    border-radius: 50%; */
    /* color: red; */
    position: absolute;
    left: 200px;
    top: 300px;
}
.btn3{
    /* width: 40px;
    height: 40px;
    padding: 10px;
    background-color: red;
    border-radius: 50%; */
position: absolute;
left: 100px;
top: 300px;
}

